/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.mainHeading {
  color: white;
  font-family: Bree Serif;
  font-size: 30px;
  font-weight: 800;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
